body {
  padding-top: 56px;
}

.sidebar {
  position: fixed;
  top: 56px;
  /* Altura de la barra superior */
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #1b5496;
  display: flex;
  cursor: pointer;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: #d02a1e;
}

.nav-link>span {
  padding-left: 10px;
}

.navbar-expand-md .navbar-collapse {
  justify-content: right;
  background: #1b5496;

}

.navbar-nav>li>a {
  color: #ffffff;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
}

.navbar-collapse {
  padding: 5px;
}

.nav>li.nav-item {
  border-bottom: 1px solid #c4c4c4;
}


.navbar-brand {
  margin-right: 0;
  margin-top: 0;
  padding: 6px;
  background: #1b5496;
  width: 16.66666667%;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  border-right: 1px solid #ffffff;
  font-weight: bold;
}


.navbar {

  background: #1b5496;

}

.desvanecer-movil {
  display: none;
}

li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
}

.header-menu>li>a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

}

.header-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.sidebar {
  transition: margin-left 0.3s;
  height: 100%;
  position: fixed;
  background-color: #f8f9fa;
  padding-top: 10px;
}

.collapsed {
  display: none;
}

.navbar-toggler {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {


  .desvanecer-desk {
    width: 100%;
    background: #d02a1e;
    border-right: #d02a1e;
    color: white;
  }

  .navbar-expand-md .navbar-collapse {
    background: #f1f1f1;

  }

  .header-menu>li>a {
    color: #1b5496;
  }


  .sidebar {
    padding-top: 40px;
    height: 40%;

  }


  .navbar-dark,
  .navbar[data-bs-theme=dark] {
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap=' round' stroke-miterlimit=' 10' stroke-width=' 2' d=' M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e)!important;

  }



}