<div class="container-fluid">
    <div class="row">
        <!-- Menú lateral izquierdo -->
        <nav class="col-md-2 sidebar">
            <app-menu-user></app-menu-user>
        </nav>
        <!-- Contenido principal -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main-content">
            <div class="container">
                <h2>Panel Principal</h2>
                <p></p>
                <div class="row" *ngIf="isAdmin">
                    <div class="col-md-6">
                        <div class="alert alert-primary text-center" role="alert">
                            Usuarios registrados: <b>{{totalUsers}}</b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-secondary text-center" role="alert">
                            Solicitudes por revisar: <b>{{totalSolicitudesResidencia}}</b>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <h5>Ultimas noticias</h5>
                </div>
                <div class="row">
                    <div *ngFor="let datos of notice; let i = index">
                        <div class="box-notice">
                            <h2>{{ datos.title }}</h2>
                            <td>
                                <img *ngIf="datos.image" src="data:image/png;base64,{{ datos.image }}" alt="Imagen"
                                    width="170">
                            </td>
                            <hr>
                            <small><b> Fecha: {{ datos.date | date:'yyyy-MM-dd' }}</b></small>
                            <p>{{ datos.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </main>
    </div>
</div>