<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 sidebar">
            <app-menu-user></app-menu-user>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main-content">
            <h2>Lista de noticias</h2>


            <table class="table table-striped  table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datos of  notice; let i = index">
                        <td>{{ datos.id }}</td>
                        <td>{{ datos.date| date:'yyyy-MM-dd' }}</td>
                        <td>{{ datos.users.firstName+" "+datos.users.lastName }}</td>
                        <td>{{ datos.title  }}</td>

                        <td>
                            <img *ngIf="datos.image" src="data:image/png;base64,{{ datos.image }}" alt="Imagen" width="70">
                          </td>
                          
                        <td>{{ datos.description }}</td>
                        
                        <td>
                           
                           
                           <!--a class="btn btn-success btn-sm m-1" (click)="viewSolVecinal(solicitud.id)">Verificar</a-->
                           
                            <a class="btn btn-danger btn-sm m-1"  (click)="deleteNotice(datos.id)">   Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>


        </main>
        <app-footer></app-footer>
    </div>
</div>