.footer {
    margin-top: 50px;

}


#whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Estilos adicionales para el enlace de WhatsApp */
#whatsapp-container a {
    display: block;
    padding: 10px;
    border-radius: 50%;
}


/*----------------------------------------*/

.formulario_chat {
    position: fixed;
    bottom: 90px;
    border-radius: 10px;
    right: 30px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 300px;
}

.question {
    padding: 15px;
}

.title-chat {
    background: #524eb0;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.question span {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: rgb(3, 3, 3);
    background: #e6e6e6;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

