<footer class="bg-body-tertiary text-center text-lg-start footer">
    <div class="text-center p-3" style="background-color: rgba(216, 216, 216, 0.05);">
        <span class="text-body" href="#">&copy; {{ currentYear }} Junta Vecinal. Todos los derechos reservados.</span>
    </div>


    <!--div id="whatsapp-container" (click)="toggleFormulario()">
        <span href="https://wa.me/TUNUMERODEREGISTRO">
            <img src="assets/images/icon_chat.png" alt="WhatsApp Icon" width="60" height="60">
        </span>
    </div-->

    <!--div class="formulario_chat" id="formulario_chat" *ngIf="formularioVisible">
        <div class="title-chat">¿Cómo te ayudamos?</div>
        <div class="question">
            <div *ngFor="let item of preguntas">
                <span (click)="toggleItemActivo(item)">{{ item.pregunta }}</span>
                <p *ngIf="item.activo" [innerHTML]="item.respuesta"></p>
            </div>
        </div>
    </div-->







</footer>