<app-header></app-header>
<div class="container-fluid margin-principal">
    <div class="row justify-content-center">

        <div class="col-md-5">
            <div class="register-title-box">
                <h3>Registrar Usuario</h3>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="postRegister(registerForm.value)">

                <div *ngFor="let mensaje of mensajesError" class="error-message">
                    {{ mensaje }}
                </div>


                <div class="row">
                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputUsername" class="mb-2">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Nombre de Usuario"
                            formControlName="username">
                    </div>

                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputNumIdentification" class="mb-2">RUT</label>
                        <input type="text" class="form-control" id="inputNumIdentification"
                            placeholder="Num. Identificación" formControlName="identification_card">
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputname" class="mb-2">Nombres</label>
                        <input type="text" class="form-control" id="inputname" placeholder="Nombres"
                            formControlName="firstName">
                    </div>
                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputlastname" class="mb-2">Apellidos</label>
                        <input type="text" class="form-control" id="inputlastname" placeholder="Apellidos"
                            formControlName="lastName">
                    </div>
                </div>

                <div class="form-group mt-2 mb-2">
                    <label for="inputAddress" class="mb-2">Dirección</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Dirección"
                        formControlName="address">
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputEmail4" class="mb-2">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email"
                            formControlName="email">
                    </div>
                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputPassword4" class="mb-2">Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
                            formControlName="password">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-2 mb-2 btn-register ">Registrar</button>

            </form>
        </div>
    </div>
</div>



<app-footer></app-footer>