<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 sidebar">
            <app-menu-user></app-menu-user>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main-content">

            <h2>Verificar solicitudes vecinales</h2>
           

            <div class="alert alert-secondary" role="alert">
                Modificar el estado de solicitudes vecinales.
            </div>


            <form [formGroup]="editSolicitudesBarrialesForm"
                (ngSubmit)="putSolicitudesVecinal(editSolicitudesBarrialesForm.value)">
               
               
                <div class="row">


                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputSolicitantes" class="mb-2">Solicitantes</label>
                        <input type="text" class="form-control" id="inputSolicitantes" placeholder="Solicitantes"
                            formControlName="solicitantes">
                    </div>


                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputTitle" class="mb-2">Título</label>
                        <input type="text" class="form-control" id="inputTitle" placeholder="Título"
                            formControlName="title">
                    </div>



                </div>

                <div class="row">
                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputDate_solicitud" class="mb-2">Fecha</label>
                        <input type="text" class="form-control" id="inputDate_solicitud" placeholder="Fecha"
                            formControlName="date_solicitud" readonly>
                    </div>

                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputPlace" class="mb-2">Lugar</label>
                        <input type="text" class="form-control" id="inputPlace" placeholder="Lugar"
                            formControlName="place">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputDescription" class="mb-2">Descripción</label>
                        <textarea class="form-control" cols="10" rows="5" formControlName="description"
                            placeholder="Descripción"></textarea>
                    </div>

                    <div class="form-group col-md-6 mt-2 mb-2">
                        <label for="inputStatev" class="mb-2">Estado</label>
                        <select name="" id="" class="form-control" formControlName="state">
                            <option value="true">Aprobado</option>
                            <option value="false">Sin aprobar</option>
                        </select>
                    </div>


                </div>



              
                <button type="submit" class="btn btn-primary mt-2 mb-2 btn-register">Solicitar</button>
            </form><br>
            <div *ngIf="errorMessage" class="alert alert-primary" role="alert">
                {{ errorMessage }}
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>