<div class="container-fluid">
    <nav class="navbar navbar-expand-lg title-header">
        <a class="navbar-brand" href="#">TTB - TimeTo<span>Remember</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-item nav-link" (click)=" redirectToRegister()"><i class="fas fa-users"></i> Unete a nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" (click)=" redirectToSession()"><i class="fas fa-user-circle"></i> Iniciar Sesión</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<div class="fondo-submenu">
    <span> <i class="far fa-clock"></i> {{ getCurrentLocalTime() }} </span>
</div>