
.container-fluid {
    padding: 0;
}

.title-header>a {
    color: #2e669b;
    font-weight: bold;
    font-size: 25px;
}
.title-header>a>span {
    color: #ffc800;
    
}

.title-header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}

.nav-item>a{
    color: #2e669b;
    cursor: pointer;
}

.fondo-submenu{
    text-align: center;
    background: #2e669b;
    padding: 5px;
    color:#ffffff;
    font-size: 20px;
}
    