<div class="container-fluid">
    <div class="title-header">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>TTB - TimeToRemember</h1>
            </div>
        </div>
    </div>

    <nav class="menu">
        <div class="row justify-content-center">
            <div class="col-md-6">
              
                <div class="col-md-6">
                    <div class="" id="">
                        <div class="menu-description">
                            <a class="nav-item nav-link" (click)=" redirectToRegister()" >Registrar</a>
                            <a class="nav-item nav-link" (click)=" redirectToSession()" >Iniciar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>