.title-header {
    background-color: #d02a1e;
    color: #fff;
    padding: 10px;
    font-size: 28px;
}

.title-header>div>div>h1 {
    font-size: 28px !important;
   
}

.menu {
    background: #f1f1f1;
    padding: 10px;
}

.menu-description {
    display: flex;
    
}

.menu-description>a{
    color:#1b5496;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    
}


.container-fluid {
    padding: 0;
}
.row{
     margin-right:0; 
     margin-left: 0;

}
    